<header>
  <h2>Collectish is about data...</h2>
</header>
<section>
  <p>
    Collectish is an open source project to create a dedicated data collection
    and analysis web application with publication and other capabilities.
  </p>
</section>
